.App {
  background-color: #f9fdf9;
  margin: auto;
}


h1, h3, p{
  color: #1b4332;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 2em 0 1em 0;
  border-bottom: 1px solid #91a099;
  padding: 20px;
} 

h4 {
  color: #1b4332;
}

p {
  color: black
}

.Logo {
  float: left;
  height:100%;
  width: 10%;
  
} 


.leaflet-container{
  margin: auto;
  width: 60%;
  height: 40vw;
  margin-bottom: 10px;
}

.Footer {
  text-align: center;
}

.Footer img {
  height: 50px;
  width: 50px;
  padding: 7px;
}
