.App {
  background-color: #f9fdf9;
  text-align: center;
  margin: auto;
}


h1, h3, p{
  color: #662f11;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 0em 3em 2em 5em;
  border-bottom: 1px solid #91a099;
  padding: 20px;
} 

h4 {
  color: #1b4332;
}

p {
  color: black
}

.Logo {
  float: left;
  margin: 0em 1em 1em 0em;
  height: 100%;
  width: 12%;
  margin-top: 15px;
} 


.leaflet-container{
  margin: auto;
  width: 60%;
  height: 40vw;
  margin-bottom: 10px;
}

.Footer img {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 0em -2em 0em 2em;
}

